// Global Styles

body {
    font-size: 62.5%;
}

.wrapper {
    width: 1280px;
    max-width: 85%;
    margin: 0 auto;
}

// Header Styles

header {
    background-color: $header-background;
    height: 30vh;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: $header-font;
    font-size: 3rem;
    color: $header-text;
}

h2 {
    margin: 0;
    text-align: center;
    padding: 20px;
    font-family: $header-font;
    font-size: 1.8rem;
    color: $header-text;
}

// Main Styles

.questions-section {
    background-color: $secondary-background;
    padding: 20px;
    height: 50vh;
    // display: none; & display: block on entering game submit
}

.question-area {
    width: 400px;
    height: 100px;
    border: 3px ridge $button-font-colour;
    margin: auto;
    // visibility: hidden;
}

.question-class,
.results {
    text-align: center;
    padding-top: 35px;
    font-size: 1.2rem;
    color: $primary-accent;
}

.options-column {
    display: flex;
    justify-content: center;
}

.question-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    margin: 10px;
    color: $primary-accent;
}

p {
    background-color: $footer-background;
    padding: 10px;
    font-size: 1.4rem;
}


.results-section {
    background-color: $results-background;
    padding: 20px;
}

.results {
    width: 300px;
    height: 100px;
    border: 3px ridge $button-font-colour;
    margin: auto;
}

.enter-game,
.play-again {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: $primary-accent;
    text-decoration: none;
    font-family: $main-font;
    color: $button-font-colour;
    margin: auto;
    &:hover,
    &:focus {
        background-color: $footer-background;
        border: 1px solid $button-font-colour;
    }
}

// Footer Styles

footer {
    background-color: $footer-background;
    color: $primary-accent;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    font-family: $main-font;
}

footer a {
    text-decoration: none;
    color: $primary-accent;
}