
.wrapper {
    width: 1280px;
    max-width: 85%;
    margin: 0 auto;
}

header {
    background-color: rebeccapurple;
    height: 30vh;
}

h1 {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.questions-section {
    background-color: rosybrown;
    padding: 20px;
    height: 50vh;
}

.results-section {
    background-color: seagreen;
    padding: 20px;
}

.results {
    width: 300px;
    height: 100px;
    background-color: white;
    margin: auto;
}

.enter-game,
.play-again {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.enter-game {
    margin-bottom: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}