// Colours
$header-background: #150485;
$secondary-background: #590995;
$results-background: #c62a88;
$footer-background: #03c4a1;
$primary-accent: white;
$button-font-colour: black; 



// Fonts
$header-font: 'Roboto', sans-serif;
$main-font: 'Open Sans', sans-serif;


// Mixins