// Colours
$main-background: #150485;
$header-text: lightgrey;
$border-colour: #c62a88;
$footer-background: #03c4a1;
$primary-accent: white;
$button-font-colour: black; 



// Fonts

$main-font: 'Roboto Mono', monospace;
